<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="FlowCentricPoC"
	monitorInterval="30">
	<Properties>
	    <property name="appName">dataflow-ms-flow-centric-source-poc</property>
	    <property name="filePath">/opt/dataflow-flow-centric/log</property>
 	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%t] [%c{1}] [%l] - %m %n</pattern>
			</PatternLayout>
		</Console>

		<RollingFile name="spring-log"
			fileName="${filePath}/${appName}/${appName}-spring.log"
			filePattern="${filePath}/${appName}/$${date:yyyy-MM}/${appName}-spring-%d{MM-dd-yyyy}-%i.log"
			append="true">
			<PatternLayout>
				<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%t] [%c{1}] [%l] - %m %n</pattern>
			</PatternLayout>
			<Policies>
				<CronTriggeringPolicy evaluateOnStartup="true" schedule="0 30 1 * * ?"/>
			</Policies>
			<DefaultRolloverStrategy min="1" max="99999" fileIndex="max"/>
		</RollingFile>
		<RollingFile name="service-log"
			fileName="${filePath}/${appName}/${appName}-service.log"
			filePattern="${filePath}/${appName}/$${date:yyyy-MM}/${appName}-service-%d{MM-dd-yyyy}-%i.log"
			append="true">
			<PatternLayout>
				<pattern>%m %n</pattern>
			</PatternLayout>
			<Policies>
				<CronTriggeringPolicy evaluateOnStartup="true" schedule="0 30 1 * * ?"/>
			</Policies>
			<DefaultRolloverStrategy min="1" max="99999" fileIndex="max"/>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="com.dataflow.core" level="info" additivity="false">
			<AppenderRef ref="service-log" />
		</Logger>
		<Logger name="com.dataflow.flow.centric" level="info" additivity="false">
			<AppenderRef ref="service-log" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="spring-log" />
		</Root>
	</Loggers>
</Configuration>